<!DOCTYPE html>
<html>
<head>
    <title>Edit Category</title>
</head>
<body>
    <h1>Edit Category</h1>
    <form method="POST" action="{{ url_for('edit_category', category_id=category_id, category_name=category_name) }}">
        <label for="new_category_name" >New Category Name:</label>
        <input type="text" name="new_category_name" required placeholder ="{{category_name}}">
        <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('manager_home') }}" class="prod-btn">Cancel</a>
</body>
</html>
