<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\Users\rosem\OneDrive\Desktop\Michelle\IITM\MAD_proj\css\stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  </head>
<body>
  <div class ="navbar">
    <div class ="logo">
      <img src="{{ url_for('static', filename='/images/logo.png') }}"  width ="80px">
    </div>
    <div class="store-name">
         The Green Grocer
    </div>
    <nav>
        <ul>
            <li><a href ="C:\Users\rosem\OneDrive\Desktop\Michelle\IITM\MAD_proj\templates\home.html"> Home </a></li>
        </ul>
    </nav>
    <img src="{{ url_for('static', filename='/images/bag.png') }}" width= "30px" height="30px">
</div>
<div class="fruit-head">
All Products 
</div>
<div class="prod-container">
  {% for product in products %}
  
    <div class="product-block">
      <div>
       <div class="prod-name" > {{ product["Name"] }} </div>
      </div>
      <div>
        <div class="prod-price" >  MRP : &#8377 {{ product["Price"] }} </div>
      </div>
      <div>
        <div class="prod-price" >  Category : {{ product["Category"] }} </div>
      </div>
      <a href="{{ url_for('edit_product', product_id=product.ID) }}" class="prod-btn">Edit +</a>
      <div>
        <form action="{{ url_for('delete_product', product_id=product.ID) }}" method="post">
            <button type="submit" class="prod-btn">Delete Product</button>
        </form>
    </div>
    </div>
  {% endfor %}
</div>
</body>
</html> 